{% extends 'base.html.twig' %}

{% block title %}Programmation Horaire{% endblock %}

{% block stylesheet	%}

	<script>
		var $url = "{{ path('light_prog') }}";
        var tabClim = {{devicesNb.NbClim}};
        var tabFan = {{devicesNb.NbFan}};
		//var $alarmUrl = "{{ path('security_alarm')	}}";	
	</script>

{% endblock	%}

{% block body %}
    {% set days = ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"] %}
                                    
    <h1>Programmation <i class="fa fa-clock"></i> </h1>
    <!-- Main content START -->
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1">
        <!-- Settings tabs START -->
        <ul class="nav nav-tabs nav-fill" role="tablist">
            {% if devicesNb.NbClim > 0 %}
            <li class="nav-item">
                <a class="nav-link {% if tabpanel == 0 %}active{% endif %}" data-toggle="tab" href="#Clim" role="tab">Climatiseur</a>
            </li>
            {% endif %}
            {% if devicesNb.NbFan > 0 %}
            <li class="nav-item">
                <a class="nav-link {% if tabpanel == 1 %}active{% endif %}" data-toggle="tab" href="#Fan" role="tab">Ventilateur</a>
            </li>
            {% endif %}
        </ul>
        <div class="info-holder info-ct">
            <div data-toggle="popover-all" data-content="Customized tabbed interface" data-original-title="Tabs" data-placement="top" data-offset="0,48"></div>
        </div>
        <!-- Settings tab panes -->
        <div class="tab-content px-4 px-sm-0 py-sm-4 mt-4">

            <!-- Air Conditioner pane START -->
            <div class="tab-pane fade {% if tabpanel == 0 %} show active {% endif %}" id="Clim" role="tabpanel">
            
                <div class="form-group">
                    <form class="form-inline justify-content-left">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-thermometer-half"></i>
                                </span>
                            </div>
                            {% if devicesNb.NbClim > 1 %}
                            <select class="form-control " id="clim_select" style="min-height: 40px; min-width: 30px">
                                {% for clim in devicesTab.Clim %}
                                <option value="{{clim.name}}" {% if clim.id == id %}selected="selected"{% endif %}>{{clim.name}}</option>
                                {% endfor %}
                            </select>
                            {% else %}
                            <input type="text" class="form-control" placeholder="{{clim.name}}" disabled>
                            {% endif %}

                        </div>

                        <div class="input-group col-12 mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Scénario</span>
                            </div>
                            <select class="form-control " id="scenario" style="min-height: 40px; min-width: 30px">
                                <option value="Prog">Programmation horaire uniquement</option>
                                <option value="Break">Heure de Pause uniquement</option>
                                <option value="Reg">Régulation uniquement</option>
                                <option value="Prog&Break">Programmation horaire avec Heure de Pause</option>
                                <option value="Prog&Reg">Programmation horaire avec Régulation</option>
                                <!--<option value="Break&Reg">Break Time & Regulation</option>-->
                                <option value="All" selected="selected">All</option>
                            </select>
                        </div>
                        <div class="input-group col-12 mb-3" id="timeRegFields">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Time ON</span>
                            </div>
                            <input class="form-control mr-sm-4 " type="number" min="0" max="1440" name="timeON" id="timeON">

                            <div class="input-group-prepend">
                                <span class="input-group-text">Time OFF</span>
                            </div>
                            <input class="form-control mr-sm-4 " type="number" min="0" max="1440" name="timeOFF" id="timeOFF">

                        </div>
                    </form>
                </div>
                <div class="card-body table-responsive p-0" style="max-height: 500px;">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table table-hover table-head-fixed dt-responsive text-nowrap table-bordered" id="table_progpanel">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-inline justify-content-center">Jours</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Heure de Démarrage</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Heure d'arrêt</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Démarrage Automatique</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Durée de fonctionnement hors plage(en minutes) </div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Heure de Pause</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for day in days %}
                                    <tr class="justify-content-center align-items-center ">
                                        <td >
                                            {{day}}
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time" name="clim_timeweek_from{{ loop.index0 }}" id="clim_timeweek_from{{ loop.index0 }}" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time" name="clim_timeweek_to{{ loop.index0 }}" id="clim_timeweek_to{{ loop.index0 }}" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox align-middle" align="center">
                                                        <input type="checkbox" class="custom-control-input" id="clim_auto_on_check{{ loop.index0 }}" checked="checked">
                                                        <label class="custom-control-label" for="clim_auto_on_check{{ loop.index0 }}"></label>
                                                    </div>


                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number" min="0" max="1440" name="clim_timer{{ loop.index0 }}" id="clim_timer{{ loop.index0 }}">

                                            </div>
                                        </td>
                                        {% if day == "Lundi" or day == "Samedi" or day == "Dimanche" %}
                                        <td class="text-center align-middle" {% if day == "Lundi" %}rowspan="5"{% endif %}>
                                            {% if day != "Dimanche" %}
                                            <div class="row">
                                                <div class="col">
                                                    <div class="form-inline ">
                                                        <input class="form-control" type="time" name="breakweek_from{{ loop.index0 }}" id="breakweek_from{{ loop.index0 }}">
                                                    </div>
                                                </div>
                                                <div class="col mt-2">
                                                    <div class="form-inline ">
                                                        <input class="form-control" type="time" name="breakweek_to{{ loop.index0 }}" id="breakweek_to{{ loop.index0 }}">
                                                    </div>

                                                </div>
                                            </div>
                                            {% else %}
                                            -
                                            <input class="form-control" type="hidden" value="" name="breakweek_from{{ loop.index0 }}" id="breakweek_from{{ loop.index0 }}">
                                            <input class="form-control" type="hidden" value="" name="breakweek_to{{ loop.index0 }}" id="breakweek_to{{ loop.index0 }}">
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                    {#
                                    <tr>
                                        <td class="">
                                            <div class="form-inline justify-content-center">
                                                Monday to Friday
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time" name="clim_timeweek_from1" id="lightInt_timeweek_from1" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time" name="lightInt_timeweek_to1" id="lightInt_timeweek_to1" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox align-middle" align="center">
                                                        <input type="checkbox" class="custom-control-input" id="lightInt_auto_on_check1" checked="checked">
                                                        <label class="custom-control-label" for="lightInt_auto_on_check1"></label>
                                                    </div>


                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number" min="0" max="1440" name="lightInt_timer1" id="lightInt_timer1">

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                Saturday
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    id="lightInt_timeweek_from2" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    id="lightInt_timeweek_to2" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox"
                                                        align="center">
                                                        <input type="checkbox"
                                                            class="custom-control-input"
                                                            id="lightInt_auto_on_check2" checked="checked">
                                                        <label class="custom-control-label"
                                                            for="lightInt_auto_on_check2"></label>
                                                    </div>

                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number"
                                                    min="0" max="1440" name="lightInt_timer2" id="lightInt_timer2">

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="">
                                            <div class="form-inline justify-content-center">
                                                Sunday
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    name="lightInt_timeweek_from3" id="lightInt_timeweek_from3"
                                                    align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    name="lightInt_timeweek_to3" id="lightInt_timeweek_to3"
                                                    align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">

                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox"
                                                        align="center">
                                                        <input type="checkbox"
                                                            class="custom-control-input"
                                                            id="lightInt_auto_on_check3" checked="checked">
                                                        <label class="custom-control-label"
                                                            for="lightInt_auto_on_check3"></label>
                                                    </div>

                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number"
                                                    min="0" max="1440" name="lightInt_timer3" id="lightInt_timer3">
                                            </div>
                                        </td>
                                    </tr>
                                    #}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <form class="form-inline justify-content-end">
                    <button class="button btn btn-primary btn-lg mt-3 mb-2 mr-sm-4" id="Save_ACProg" data-toggle="tooltip" data-placement="top" title="Save Light interior Programming" type="button" style=" cursor : pointer;min-width: 100px">
                        <i class="fa fa-save"></i>  Save
                    </button>
                </form>  
                <div class="card-preloader">
                    <div class="center-preloader d-flex align-items-center">
                        <div class="spinners">
                            <div class="spinner01"></div>
                            <div class="spinner02"></div>
                        </div>
                    </div>
                </div>                 
            </div>
            <!-- Air Conditioner pane END -->

            <!-- FAN pane START -->
            <div class="tab-pane fade {% if tabpanel == 1 %} show active {% endif %}" id="Fan" role="tabpanel">
                <div class="form-group">
                    <form class="form-inline justify-content-left">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-lightbulb"></i></span>
                            </div>
                            {% if devicesNb.NbFan > 1 %}
                            <select class="form-control " id="fan_select" style="min-height: 40px; min-width: 30px">
                                {% for fan in devicesTab.Fan %}
                                <option value="{{fan.name}}" {% if fan.id == id %}selected="selected"{% endif %}>{{fan.name}}</option>
                                {% endfor %}
                            </select>
                            {% elseif devicesNb.NbFan == 1 %}
                            <input type="text" class="form-control" placeholder="{{devicesTab.Fan[0].name}}" disabled>
                            {% endif %}

                        </div>
                    </form>
                </div>
                <div class="card-body table-responsive p-0" style="max-height: 500px;">
                    <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table table-hover table-head-fixed dt-responsive text-nowrap table-bordered" id="table_progpanel">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-inline justify-content-center">Applying
                                                days</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Working
                                                from</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">To</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Auto On
                                                Status</div>
                                        </th>
                                        <th>
                                            <div class="form-inline justify-content-center">Timer
                                                beyond Work interval (in minutes)</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for day in days %}
                                    <tr>
                                        <td class="">
                                            <div class="form-inline justify-content-center">
                                                {{day}}
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time" name="lightExt_timeweek_from{{ loop.index0 }}" id="lightExt_timeweek_from{{ loop.index0 }}" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time" name="lightExt_timeweek_to{{ loop.index0 }}" id="lightExt_timeweek_to{{ loop.index0 }}" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox align-middle" align="center">
                                                        <input type="checkbox" class="custom-control-input" id="lightExt_auto_on_check{{ loop.index0 }}" checked="checked">
                                                        <label class="custom-control-label" for="lightExt_auto_on_check{{ loop.index0 }}"></label>
                                                    </div>


                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number" min="0" max="1440" name="lightExt_timer{{ loop.index0 }}" id="lightInt_timer{{ loop.index0 }}">

                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    {#
                                    <tr>
                                        <td class="">
                                            <div class="form-inline justify-content-center">
                                                Monday to Friday
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    name="lightExt_timeweek_from1" id="lightExt_timeweek_from1"
                                                    align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    name="lightExt_timeweek_to1" id="lightExt_timeweek_to1"
                                                    align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox"
                                                        align="center">
                                                        <input type="checkbox"
                                                            class="custom-control-input"
                                                            id="lightExt_auto_on_check1" checked="checked">
                                                        <label class="custom-control-label"
                                                            for="lightExt_auto_on_check1"></label>
                                                    </div>


                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number"
                                                    min="0" max="1440" name="lightExt_timer1" id="lightExt_timer1">

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                Saturday
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    id="lightExt_timeweek_from2" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    id="lightExt_timeweek_to2" align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox"
                                                        align="center">
                                                        <input type="checkbox"
                                                            class="custom-control-input"
                                                            id="lightExt_auto_on_check2" checked="checked">
                                                        <label class="custom-control-label"
                                                            for="lightExt_auto_on_check2"></label>
                                                    </div>

                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number"
                                                    min="0" max="1440" name="lightExt_timer2" id="lightExt_timer2">

                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="">
                                            <div class="form-inline justify-content-center">
                                                Sunday
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    name="lightExt_timeweek_from3" id="lightExt_timeweek_from3"
                                                    align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control" type="time"
                                                    name="lightExt_timeweek_to3" id="lightExt_timeweek_to3"
                                                    align="center">
                                            </div>
                                        </td>
                                        <td class="align-middle">

                                            <form class="form-inline justify-content-center">
                                                <div class="form-check mb-2 mr-sm-2">

                                                    <div class="custom-control custom-checkbox"
                                                        align="center">
                                                        <input type="checkbox"
                                                            class="custom-control-input"
                                                            id="lightExt_auto_on_check3" checked="checked">
                                                        <label class="custom-control-label"
                                                            for="lightExt_auto_on_check3"></label>
                                                    </div>

                                                </div>
                                            </form>
                                        </td>
                                        <td class="align-middle">
                                            <div class="form-inline justify-content-center">
                                                <input class="form-control mr-sm-4 " type="number"
                                                    min="0" max="1440" name="lightExt_timer3" id="lightExt_timer3">
                                            </div>
                                        </td>
                                    </tr>
                                    #}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
                <form class="form-inline mt-3 justify-content-end">
                    <button class="button btn btn-primary btn-lg mb-2 mr-sm-4" id="Save_LightExtProg" type="button" style=" cursor : pointer;min-width: 100px">
                        <i class="fa fa-save"></i>  Save
                    </button>
                </form>         
                <div class="card-preloader">
                    <div class="center-preloader d-flex align-items-center">
                        <div class="spinners">
                            <div class="spinner01"></div>
                            <div class="spinner02"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FAN pane END -->
            
        </div>
        <!-- Profile tabs END -->
        </div>
    </div>

{% endblock %}

{% block javascripts %}
  <script src="/js/smartHome.js"></script>
  <script src="/js/AC-Programming.js"></script>
{% endblock %}